p {
    margin-top: 0;
    margin-bottom: 0;
}

b, strong {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.font-proxima-nova-bold {
    font-family: "Proxima Nova Rg", sans-serif;
    font-weight: 700;
}

/* header **********/

.header__mobile-menu {
    display: none;
}

.header-top {
    background-color: #111111;
    padding: 10px 0;
}

.header-top__menu {
    display: flex;
    justify-content: center;
    padding: 0 280px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.header-top__menu-item {
    margin-right: 20px;
}

.header-top__menu-item:last-child {
    margin-right: 0;
}

.header-top__menu-item-link {
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
}

.header-top__menu-item-link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.header__flex {
    display: flex;
}

.header__logo-wrapper {
    display: flex;
    width: 280px;
    margin-right: 50px;
}

.header-logo {
    position: relative;
    width: 100px;
    height: 102px;
    overflow: hidden;
    margin-right: 20px;
    flex-shrink: 0;
}

.header-logo__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 102px;
    object-fit: cover;
}

.header-slogan {
    font-family: "Open Sans", sans-serif;
    color: #111111;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 40px;
}

.header-left-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header-left-side__top {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-left-side__top::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dedede;
}

.header__delivery {
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    font-size: 12px;
    color: #a3a8ac;
}

.header-address {
    display: flex;
}

.header-address__icon {
    margin-right: 10px;
}

.icon-geo-marker {
    display: block;
    background-image: url("../img/newbalances/icon-geo-marker.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 22px;
    background-size: 16px 22px;
}

.header-address__text {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #111111;
    line-height: 1;
}

.header-contacts {
    flex-shrink: 0;
}

.header-contacts__schedule {
    font-family: "Open Sans Light", sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 1;
    margin-bottom: 10px;
}

.header-call {
    display: flex;
}

.header-call__phone-number {
    font-family: "Proxima Nova Rg", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    color: #111111;
    line-height: 1;
    margin-right: 15px;
}

.request-call {
    display: flex;
    align-items: center;
}

.request-call__icon {
    margin-right: 10px;
}

.request-call__text {
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 14px;
    color: #111111;
    text-decoration: underline;
    cursor: pointer;
    line-height: 1;
}

.request-call__text:hover {
    text-decoration: none;
}

.header-left-side-bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 55px;
    align-items: center;
}

.header-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 730px;
}

.header-nav__item {
    margin-right: 50px;
}

.header-nav__item:last-child {
    margin-right: 0;
}

.header-nav__item-link,
.header-nav-subnav__item-link{
    font-family: "Proxima Nova Rg";
    font-weight: bold;
    font-size: 17px;
    color: #111111;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.header-nav__item-link:hover {
    color: #111111;
    text-decoration: underline;
}

.header-nav__item-link_sale {
    position: relative;
    padding-left: 37px;
    color: #ff4d2b;
}

.header-nav__item-link_sale:hover {
    color: #ff4d2b;
}

.header-nav__item-link_sale::after {
    position: absolute;
    display: block;
    content: '';
    background-image: url("../img/newbalances/icon-fire.png");
    background-repeat: no-repeat;
    background-size: 22px 28px;
    width: 22px;
    height: 28px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header-nav__subitem {
    position: relative;
}

.header-nav__subitem-link {
    position: relative;
    padding-right: 15px;
}

.header-nav__subitem-link::after {
    position: absolute;
    content: '›';
    font-family: "Proxima Nova Rg", sans-serif;
    color: #111111;
    font-weight: bold;
    font-size: 17px;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(90deg);
}

.header-nav__item:hover .header-nav__subitem-link::after{
    transform: translateY(-50%) rotate(-90deg);
    right: 3px;
}

.header-nav__subnav {
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    display: none;
}

.header-nav__subitem:hover .header-nav__subnav {
    display: block;
}

.header-nav-subnav {
    list-style-type: none;
    z-index: 10;
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: -1px -1px 5px -1px rgba(0, 0, 0, 0.3);
    max-width: 320px;
}

.header-nav-subnav__item {
    margin-bottom: 7px;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-nav-subnav__item:last-child {
    margin-bottom: 0;
}

.header-nav-subnav__item-link {
    color: #111111;
}

.header-nav-subnav__item-link:hover {
    color: #111111;
    text-decoration: underline;
}

.header-nav-subnav__item:hover .header-nav-subnav__item-link {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.header-search {
    position: relative;
    width: 36px;
}

.search-form.open {
    width: 730px;
    visibility: visible;
    opacity: 1;
}

.header-search__input {
    position: relative;
    padding-right: 35px;
}

.header-search__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.search-close {
    z-index: 2;
    cursor: pointer;
    background-image: url(../img/sprite.png);
    background-position: -114px -54px;
    width: 16px;
    height: 16px;
    margin-left: -15px;
}

.icon-search {
    background-image: url(../img/newbalances/icon-search-btn.png);
    background-repeat: no-repeat;
    background-size: 23px 23px;
    width: 23px;
    height: 23px;
    display: block;
}

.header__hamburger {
    display: none;
}

.header-left-side-bottom__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

/********** header */

.main-banner {
    position: relative;
    background: url("../img/newbalances/main-banner.png") no-repeat;
    background-size: cover;
    height: 480px;
    width: 100%;
}

.main-banner-flex {
    display: flex;
}

.main-banner__left-side {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.main-banner__title {
    padding-top: 90px;
    max-width: 515px;
    margin-bottom: 45px;
    flex-shrink: 0;
}

.main-banner__text-middle {
    text-align: center;
    max-width: 310px;
    margin-left: 40px;
}

.icon-newbalance {
    background: url("../img/newbalances/icon-sneaker.png") no-repeat;
    background-size: 92px 42px;
    width: 92px;
    height: 42px;
    display: block;
    margin: 0 auto;
}

.main-banner__exclamation {
    position: relative;
    max-width: 400px;
    margin-left: 300px;
    border: 1px solid #c2a062;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    z-index: 20;
}

.main-banner__exclamation::after {
    position: absolute;
    content: '';
    top: -50%;
    left: 10%;
    transform: translate(-10%, 50%);
    background: url("../img/newbalances/exclamation.png") no-repeat;
    background-size: 10px 37px;
    width: 10px;
    height: 37px;
}

.main-banner__right-side {
    position: relative;
    display: flex;
    margin-left: -230px;
    flex-grow: 1;
    flex-shrink: 0;
}

.main-banner__sneaker {
    position: relative;
    overflow: hidden;
    width: 530px;
    height: 460px;
    margin-top: 90px;
    z-index: 10;
}

.main-banner__sneaker-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 460px;
    object-fit: contain;
}

.main-banner__discount {
    background: url("../img/newbalances/discount-bg.png") no-repeat;
    width: 704px;
    height: 480px;
    margin-left: -280px;
}

.main-banner__discount-value,
.main-banner__discount-percent {
    color: #ffffff;
    font-family: "Proxima Nova ExCn Rg", sans-serif;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
}

.main-banner__discount-value {
    font-size: 180px;
}

.main-banner__discount-percent {
    font-size: 66px;
    margin-top: 20px;
    margin-left: 10px;
}

.main-banner-discount-text-wrapper {
    margin-top: 210px;
    margin-left: 170px;
}

.main-banner-discount-flex {
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    align-items: flex-start;
}

.main-banner-subdiscount-text {
    margin-left: 130px;
}

.main-banner-only-for {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    width: 380px;
}

.button {
    display: inline-flex;
    font-family: "Open Sans";
    font-size: 16px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 15px 15px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    border: none;
    outline: none
}

.button:hover {
    text-decoration: none;
    color: #ffffff;
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.3);
}

.button_brown {
    background-color: #c2a062;
    color: #ffffff;
}

.button_red {
    background-color: #e21836;
    color: #FFFFFF;
}

.button_white {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #d6d6d6;
}

.button__go-to-catalog {
    font-family: "Open Sans SemiBold";
    font-weight: 600;
    font-size: 12px;
    width: 230px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.triggers {
    background-color: #e7e8ea;
    padding: 20px 0;
}

.triggers-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    margin-left: -20px;
}

.trigger-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: 20px;
    padding-left: 20px;
}

.trigger-item__icon {
    margin-right: 20px;
    flex-shrink: 0;
}

.icon-trigger-official-distributor,
.icon-trigger-guarantee,
.icon-trigger-7-pairs,
.icon-trigger-delivery {
    width: 71px;
    height: 64px;
    background-size: 71px 64px;
    display: block;
    background-repeat: no-repeat;
}

.icon-trigger-official-distributor {
    background-image: url("../img/newbalances/trigger-official-distributor.png");
}

.icon-trigger-guarantee {
    background-image: url("../img/newbalances/trigger-guarantee.png");
}

.icon-trigger-7-pairs {
    background-image: url("../img/newbalances/trigger-7-pairs.png");
}

.icon-trigger-delivery {
    background-image: url("../img/newbalances/trigger-delivery.png");
}

.trigger-item__text {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
}

.main-content {
    padding-top: 50px;
}

.main-content__flex {
    display: flex;
}

.main-content__sidebar {
    width: 245px;
    display: flex;
    flex-direction: column;
}

.main-filter {
    display: flex;
    flex-direction: column;
    border: 1px solid #d6d6d6;
    border-bottom: none;
    flex-shrink: 0;
    width: 100%;
}

.main-filter-open {
    padding: 10px;
    border: 1px solid #d6d6d6;
}

.main-filter-open_has-opened {
    border-bottom: none;
}

.main-filter-open__button {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.main-filter-open__button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: #000 transparent transparent transparent;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.main-filter:last-child {
    border-bottom: 1px solid #d6d6d6;
}

.main-filter__section {
    padding: 25px 23px;
}

.main-filter__items {
    display: flex;
}

.main-filter__items_is-column {
    flex-direction: column;
}

.main-filter__items_is-wrap {
    flex-wrap: wrap;
}

.main-filter-text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #000000;
}

.main-filter-text__title {
    font-weight: bold;
    margin-bottom: 20px;
}

.main-filter-text__link {
    text-decoration: none;
    color: #000000;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-filter-text__link:hover {
    color: #e21836;
}

.main-filter-text__link_is-active {
    position: relative;
    color: #e21836;
    padding-left: 40px;
    margin-left: -15px;
    font-weight: bold;
}

.main-filter-text__link_is-active::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url("../img/newbalances/filter-link-is-active.png") no-repeat;
    width: 36px;
    height: 7px;
    background-size: 36px 7px;
}

.main-filter-text__link:last-child {
    margin-bottom: 0;
}

.main-filter__item-name {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-right: 5px;
    line-height: 1;
}

.main-filter__item-count {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 1;
}

.main-filter-colors {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -7px;
    margin-left: -7px;
}

.main-filter-colors__wrapper {
    position: relative;
    padding-bottom: 7px;
    padding-left: 7px;
    flex-shrink: 0;
    width: 37px;
    display: block;
}

.main-filter-colors__color {
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    transition: all 0.3s ease;
}

.main-filter-colors__color:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-color: transparent;
}

.main-filter-sizes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -5px;
    margin-left: -5px;
}

.main-filter-sizes__wrapper {
    padding-bottom: 5px;
    padding-left: 5px;
    width: 67px;
}

.main-filter-sizes__size {
    width: 62px;
    height: 34px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    transition: all 0.3s ease;
    text-decoration: none;
}

.main-filter-sizes__size:hover,
.main-filter-sizes__size_is-active {
    color: #ffffff;
    background-color: #e21836;
}

.main-content__base {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.main-content-banner {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.main-content-banner__image {
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
    top: 0;
    left: 0;
    object-fit: contain;
    padding: 80px 80px 40px 90px;
}

.main-content-banner__image_men {
    background-image: url("../img/newbalances/main-content-banner-men.png");
}

.main-content-banner__image_women {
    background-image: url("../img/newbalances/main-content-banner-women.png");
}

.main-content-banner__content {
    display: flex;
}

.main-content-banner__left-side {
    max-width: 475px;
    flex-shrink: 0;
}

.main-content-banner__title {
    font-family: "Proxima Nova ExCn Rg", sans-serif;
    font-size: 30px;
    font-style: italic;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.main-content-banner__descr {
    font-family: "Proxima Nova Rg", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
}

.main-content-banner__right-side {
    margin-left: 40px;
}

.main-content-products-list {
    display: flex;
    flex-direction: column;
}

.main-content-products-list__grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -35px;
    margin-left: -75px;
    padding-bottom: 35px;
    padding-top: 30px;
    padding-left: 15px;
}

.products-list-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-bottom: 35px;
    padding-left: 75px;
}

.products-list-item__discount {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #c2a062;
    width: 75px;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.products-list-item__discount::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14.5px 8px 14.5px 0;
    border-color: transparent #fff transparent transparent;
}

.products-list-item__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px;
}

.products-list-item__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100px;
}

.products-list-item__button {
    margin-top: -20px;
    z-index: 10;
}

.button__product-list {
    width: 180px;
    padding: 10px 30px 15px;
    font-size: 14px;
    margin-bottom: 15px;
}

.products-list-item__sizes {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
}

.products-list-item__size {
    position: relative;
    font-family: "Open Sans";
    font-size: 13px;
    color: #000;
    padding-right: 10px;
    margin-right: 5px;
}

.products-list-item__size::after {
    position: absolute;
    content: '|';
    top: 0;
    right: 0;
}

.products-list-item__size:last-child {
    margin-right: 0;
    padding-right: 0;
}

.products-list-item__size:last-child::after {
    content: none;
}

.products-list-item__name {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    font-size: 14px;
}

.products-list-item__type {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #a3a8ac;
    margin-bottom: 20px;
}

.products-list-item__price {
    display: flex;
    align-items: flex-end;
    line-height: 1;
}

.products-list-item__new-price {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #e21836;
    margin-right: 30px;
}

.products-list-item__new-price::after {
    position: absolute;
    font-family: 'ruble';
    content: '\f158';
    font-size: 18px;
    line-height: 1;
    top: 2px;
    right: -15px;
}

.products-list-item__old-price {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #646d73;
    text-decoration: line-through;
}

.products-list-item__button_is-invisible,
.products-list-item__sizes_is-invisible {
    opacity: 0;
}

.products-list-item:hover .products-list-item__button_is-invisible,
.products-list-item:hover .products-list-item__sizes_is-invisible {
    opacity: 1;
}

.products-list-item:hover .products-list-item__line {
    opacity: 0;
}

.products-list-item__line {
    position: relative;
    background-color: #eeeeee;
    width: 180px;
    height: 1px;
    margin: 0 auto -10px;
}

.main-content-address {
    background-color: #e21836;
    height: 565px;
    width: 100%;
}

.main-content-address__flex {
    display: flex;
}

.main-content-address__left-side {
    padding-top: 65px;
    padding-bottom: 65px;
}

.main-content-address-contacts {
    display: flex;

}

.main-content-address-contacts__left-side {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 45px;
    padding-left: 50px;
    border: 8px solid #c2a062;
    width: 700px;
    flex-shrink: 0;
    z-index: 10;
}

.main-content-address-contacts__title {
    font-family: "Proxima Nova ExCn Rg", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 25px;
    line-height: 1;
}

.main-content-address-contacts__address {
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    margin-bottom: 15px;
}

.main-content-address-contacts__address::after {
    position: absolute;
    content: '';
    width: 380px;
    height: 1px;
    background-color: #c2a062;
    left: -20px;
    bottom: 0;
}

.main-content-address-contacts__icon-geo {
    position: relative;
    width: 28px;
    height: 38px;
    margin-right: 15px;
}

.icon-geo {
    position: absolute;
    background-image: url("../img/newbalances/icon-geo.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 38px;
    background-size: 28px 38px;
}

.main-content-address-contacts__address-name {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 1.2;
    margin-right: 20px;
}

.main-content-address-contacts__in-map {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-decoration: underline;
    color: #FFFFFF;
    line-height: 1;
    margin-right: 15px;
}

.main-content-address-contacts__in-map:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.main-content-address-contacts__icon-arrow {
    position: relative;
    width: 50px;
    height: 7px;
}

.icon-arrow-right-white {
    position: absolute;
    background-image: url("../img/newbalances/icon-white-arrow-right.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 7px;
    background-size: 50px 7px;
    line-height: 1;
    top: 0;
    left: 0;
}

.main-content-address-contacts__right-side {
    flex-shrink: 0;
    z-index: 20;
    margin-left: -290px;
    margin-top: 40px;
    margin-bottom: -40px;
}

.main-content-address__right-side {
    background-image: url('../img/newbalances/main-map.png');
    background-repeat: no-repeat;
    width: 655px;
    height: 565px;
    flex-shrink: 0;
    margin-left: 160px;
}

.main-content-address-contacts__phone {
    font-family: "Proxima Nova ExCn Rg", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 15px;
}

.main-content-address-contacts__small-text {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #FFFFFF;
}

.main-content-about-shop {
    background-color: #e7e8ea;
    padding-top: 55px;
    padding-bottom: 55px;
}

.main-content-about-shop__item {
    background-color: #fff;
    margin-bottom: 7px;
}

.main-content-about-shop-item {
    display: flex;
    align-items: center;
}

.main-content-about-shop-item__image-wrapper {
    position: relative;
    width: 375px;
    height: 300px;
    margin-right: 100px;
    overflow: hidden;
    flex-shrink: 0;
}

.main-content-about-shop-item__image-wrapper_inverse {
    margin-right: 0;
    margin-left: 100px;
}

.main-content-about-shop-item__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.main-content-about-shop-item__text {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
}

.main-content-about-shop-item__text_inverse {
    padding-right: 0;
    padding-left: 100px;
}

.main-content-about-shop-item__title {
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    margin-bottom: 40px;
}

.main-content-about-shop-item__descr {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
}

.main-content-line {
    background-color: #e21836;
}

.main-content-line__flex {
    display: flex;
    align-items: center;
    padding: 15px 80px;
}

.main-content-line__logo-wrapper {
    position: relative;
    padding-right: 20px;
    flex-shrink: 0;
}

.main-content-line__text {
    font-family: "Proxima Nova Rg", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 1;
    text-transform: uppercase;
}

.questions-form {
    padding-top: 70px;
    padding-bottom: 70px;
}

.questions-form__flex {
    display: flex;
}

.questions-form__title {
    font-family: "Proxima Nova Rg", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    line-height: 1.3;
    margin-right: 65px;
    color: #000000;
    flex-shrink: 0;
    width: 155px;
}

.questions-form__descr {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
    margin-right: 85px;
    flex-shrink: 0;
    max-width: 420px;
}

.questions-form__form {
    display: flex;
    align-items: flex-end;
}

.questions-form__input-label {
    flex-shrink: 0;
}

.questions-form__input-text {
    font-family: "Open Sans Light", sans-serif;
    font-weight: lighter;
    font-size: 13px;
    color: #000;
    line-height: 1;
    margin-bottom: 15px;
}

.input-wrapper {
    width: 245px;
    flex-shrink: 0;
    display: block;
}

.questions-form__input,
.footer-contacts-form__input {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #000000;
    line-height: 1;
    min-height: 50px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    display: flex;
    align-items: center;
    width: 100%;
}

.questions-form__input::-webkit-input-placeholder,
.questions-form__input::-moz-placeholder,
.questions-form__input:-moz-placeholder,
.questions-form__input:-ms-input-placeholder,
.footer-contacts-form__input::-webkit-input-placeholder,
.footer-contacts-form__input::-moz-placeholder,
.footer-contacts-form__input:-moz-placeholder,
.footer-contacts-form__input:-ms-input-placeholder {
    color: #d6d6d6;
}

.questions-form__button {
    height: 50px;
    width: 145px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 65px;
}

.footer_dark {
    background-color: #111111;
}

.footer__flex {
    display: flex;
}

.footer__logo {
    width: 100px;
    margin-right: 80px;
    flex-shrink: 0;
}

.footer__flex-item {
    width: 170px;
    margin-right: 20px;
    flex-shrink: 0;
}

.footer-flex-item {
    display: flex;
    flex-direction: column;
}

.footer-flex-item__title {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 25px;
}

.footer-flex-item-list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.footer-flex-item-list__item-link {
    font-family: "Open Sans Light", sans-serif;
    font-size: 13px;
    line-height: 1;
    color: #d5d5d5;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-flex-item-list__item-link:hover {
    color: #d5d5d5;
    text-decoration: underline;
}

.footer__flex-contacts {
    background-color: transparent;
}

.footer-contacts__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer-contacts__phone-number {
    font-family: "Proxima Nova Rg", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 1;
}

.footer-contacts__request-call {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-contacts__request-call-icon {
    margin-right: 10px;
}

.icon-request-call {
    background-image: url("../img/newbalances/icon-request-call.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
    background-size: 18px 19px;
    display: block;
}

.footer-contacts__request-call-text {
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: underline;
}

.footer-contacts__request-call:hover .footer-contacts__request-call-text {
    text-decoration: none;
}

.footer-contacts__schedule {
    font-family: "Open Sans Light", sans-serif;
    color: #c3c3c3;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 35px;
}

.footer-contacts__form-title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.3;
    margin-bottom: 20px;
}

.footer-contacts-form {
    display: flex;
}

.footer__flex-bottom {
    justify-content: space-between;
}

.footer__flex-copyright,
.footer__flex-developed {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 1;
    text-decoration: none;
}

.footer__flex-developed:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.main-banner-discount-mobile {
    display: none;
}

.main-filter-open {
    display: none;
}

.desktop-hidden {
    display: none;
}

.link-basket {
    position: fixed;
    right: 0;
    bottom: auto;
    top: 100px;
    transition: 0.5s;
    z-index: 100;
    text-decoration: none;
    display: flex;
    background-color: #e21836;
    align-items: center;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    padding: 15px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
}

.basket-icon {
    display: flex;
    align-items: center;
    width: 24px;
    height: 19px;
}

.icon-cart {
    background-image: url('../img/newbalances/icon-cart.png');
    background-repeat: no-repeat;
    background-size: 24px 19px;
    background-position: center center;;
    width: 24px;
    height: 19px;
}

.basket-count-products {
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
    background-color: #111111;
    line-height: 1;
    border-radius: 4px;
    margin-top: -15px;
    margin-left: -5px;
}

.link-basket:hover {
    box-shadow: inset 0 0 100px 10px rgba(0, 0, 0, 0.1);
}

.link-basket:hover > span {
    color: #FFFFFF;
}

.basket-count-products:hover {
    color: #FFFFFF;
}

@media only screen and (max-width: 1224px) {

    .header-top__menu {
        padding: 0;
    }

    .header-slogan {
        display: none;
    }

    .header__logo-wrapper {
        width: 100px;
    }

    .main-banner {
        overflow: hidden;
    }

    .main-banner__right-side {
        margin-left: -290px;
    }

    .main-banner__sneaker-image,
    .main-banner__sneaker {
        height: 300px;
    }

    .main-banner__discount {
        margin-left: -320px;
    }

    .main-banner__sneaker {
        margin-top: 140px;
    }

    .main-banner__right-side {
        margin-left: -380px;
    }

    .trigger-item {
        width: 25%;
    }

    .main-content-banner__image {
        padding: 40px;
    }

    .main-content-banner__left-side {
        max-width: 400px;
    }

    .questions-form__flex {
        flex-direction: column;
    }

    .questions-form__title,
    .questions-form__descr {
        margin-right: 0;
        width: 100%;
        text-align: center;
        max-width: none;
    }

    .questions-form__title {
        margin-bottom: 15px;
    }

    .questions-form__descr {
        margin-bottom: 15px;
    }

    .questions-form__form {
        flex-direction: column;
        align-items: center;
    }

    .questions-form__input-text {
        text-align: center;
    }

    .questions-form__input-label {
        margin-bottom: 0;
    }

    .footer__flex-item {
        display: none;
    }

    .footer-contacts {
        margin: 0 auto;
    }

    .questions-form__button {
        margin-top: 15px;
    }

}

@media only screen and (max-width: 1024px) {

    .header-top {
        display: none;
    }

    .main-banner__right-side {
        display: none;
    }

    .main-banner {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 100%;
    }

    .main-banner__title {
        padding-top: 0;
    }

    .main-banner__title {
        margin-bottom: 20px;
    }

    .main-banner__left-side {
        width: 100%;
    }

    .main-banner__title {
        padding-top: 0;
        width: 100%;
        max-width: none;
        text-align: center;
    }

    .main-banner__text-middle {
        width: 100%;
        max-width: none;
        margin: 0 auto 20px;
    }

    .main-banner__exclamation {
        margin: 0 auto;
    }

    .trigger-item {
        width: 50%;
    }

    .main-content-address__right-side {
        display: none;
    }

    .main-banner-discount-mobile {
        margin-bottom: 20px;
        display: block;
        text-align: center;
    }

    .main-banner-discount-mobile__text {
        color: #ffffff;
        font-family: "Proxima Nova ExCn Rg", sans-serif;
        font-weight: bold;
        line-height: 1;
        font-size: 22px;
    }

    .main-content-banner {
        display: none;
    }

    .main-content-address-contacts__right-side {
        display: none;
    }

    .main-content-address {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 100%;
    }

    .main-content-address__left-side {
        padding: 0;
    }

    .main-content-address__left-side {
        width: 100%;
    }

    .main-content-address-contacts {
        width: 100%;
    }

    .main-content-address-contacts__address {
        margin-left: 0;
    }

    .main-content-address-contacts__left-side {
        width: 100%;
        padding: 30px;
    }

    .main-content-address-contacts__title {
        text-align: center;
    }

    .main-content-address-contacts__address {
        justify-content: center;
        padding-bottom: 30px;
    }

    .main-content-address-contacts__address::after {
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }

    .main-content-address-contacts__in-map {
        margin-right: 0;
    }

    .main-content-address-contacts__icon-arrow {
        display: none;
    }

    .main-content-address-contacts__phone {
        text-align: center;
    }

    .main-content-address-contacts__small-text {
        text-align: center;
    }

    .main-content-about-shop-item {
        padding-bottom: 15px;
        flex-direction: column;
    }

    .main-content-about-shop-item__image-wrapper {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .main-content-about-shop-item__text {
        text-align: center;
        padding: 0 15px;
    }

    .main-content-about-shop-item_inverse {
        flex-direction: column-reverse;
    }

    .main-content-about-shop-item__image-wrapper_inverse {
        margin-left: 0;
    }

    .main-content-about-shop-item__text_inverse {
        padding-left: 0;
    }

    .main-content-line__flex {
        padding: 15px 0;
    }

    .footer__flex {
        flex-direction: column;
    }

    .footer__logo {
        margin: 0 auto 25px;
    }

    .footer-contacts {
        padding: 0;
    }

    .footer__flex-bottom {
        align-items: center;
    }

    .main-content__flex {
        flex-direction: column;
    }

    .main-content__sidebar {
        width: 100%;
    }

    .main-filter__section {
        padding: 10px;
    }

    .main-filter-text__link_is-active {
        margin-left: 0;
    }

    .main-filter-text__link_is-active::after {
        content: none;
    }

    .main-filter__items_is-column {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-filter__items {
        margin-left: -10px;
        margin-bottom: -10px;
    }

    .main-filter-text {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .main-filter-text__link {
        margin-bottom: 0;
    }

    .main-filter__item-name {
        margin-right: 0;
    }

    .main-filter__item-count {
        margin-left: 5px;
    }

    .main-content-products-list__grid {
        margin-bottom: -25px;
        margin-left: -25px;
        padding-bottom: 25px;
        padding-left: 0;
    }

    .products-list-item {
        padding-bottom: 25px;
        padding-left: 25px;
        width: 33.3%;
    }

    .closed {
        display: none;
    }

    .main-filter-text__title {
        margin-bottom: 10px;
    }

    .main-content__base {
        margin-left: 0;
    }

    .main-banner__exclamation {
        padding: 20px 15px;
    }

    .products-list-item__image-wrapper {
        margin-bottom: 15px;
    }

    .main-content {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .desktop-hidden {
        display: block;
    }

    .header-left-side-bottom {
        position: fixed;
        top: 0;
        left: -1000px;
        flex-direction: column;
        background-color: #111;
        height: 100%;
        z-index: 30;
        width: 300px;
        align-items: self-start;
        padding: 15px;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
    }

    .close-mobile-menu {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
        transform: rotate(45deg);
    }

    .close-mobile-menu::after,
    .close-mobile-menu::before{
        position: absolute;
        content: '';
        width: 30px;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    .close-mobile-menu::before {
        width: 3px;
        height: 30px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-left-side-bottom.mobile-menu-is-open {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    .header-nav {
        position: relative;
        flex-direction: column;
        max-width: 280px;
        padding-bottom: 20px;
    }

    .header-nav:last-child {
        padding-bottom: 0;
    }

    .header-nav:last-child::after {
        content: none;
    }

    .header-nav::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }

    .header-nav__item {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header-nav__item:last-child {
        margin-bottom: 0;
    }

    .header-nav__item-link,
    .header-nav-subnav__item-link {
        color: #FFFFFF;
    }

    .header-search {
        display: none;
    }

    .header__mobile-menu {
        display: block;
        position: relative;
    }
    
    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        top: 0;
        left: 300px;
        z-index: 90;
    }

    .overlay.active {
        display: block;
    }

    .header__delivery {
        display: none;
    }

    .header-call__phone-number {
        font-size: 18px;
    }

    .request-call__text {
        display: none;
    }

    .header-left-side__top {
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-left-side__top::after {
        content: none;
    }

    .button-hamburger {
        width: 50px;
        height: 40px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        outline: 0;
        background-color: #e31836;
        transition: all .5s ease 0s;
        cursor: pointer;
    }

    .button-hamburger__line {
        position: absolute;
        height: 2px;
        background-color: #fff;
        right: 8px;
        left: 8px;
        top: 50%;
        margin-top: -1px;
        transition: all .5s ease 0s;
    }

    .button-hamburger__line:first-child {
        top: 8px;
        margin-top: 0;
    }

    .button-hamburger__line:last-child {
        top: auto;
        margin-top: 0;
        bottom: 8px;
    }

    .header-nav__subitem-link::after {
        color: #FFFFFF;
    }

    .header-nav-subnav {
        display: block;
        position: relative;
        background-color: transparent;
        padding-bottom: 0;
        padding-right: 0;
    }

    .header-nav__item-link:hover,
    .header-nav-subnav__item:hover .header-nav-subnav__item-link,
    .header-nav-subnav__item-link:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }

    .header-nav__item:hover .header-nav__subitem-link::after {
        transform: translateY(-50%) rotate(90deg);
        right: 0;
    }

    .header-nav_top-menu {
        margin-top: 20px;
    }

    .header-left-side-bottom__wrapper {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

}

@media only screen and (max-width: 767px) {

    .triggers-flex {
        margin-bottom: 0;
        margin-left: 0;
    }

    .trigger-item {
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .trigger-item:last-child {
        margin-bottom: 0;
    }

    .trigger-item__icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .trigger-item__text {
        text-align: center;
    }

    .main-content-address-contacts__right-side {
        display: none;
    }

    .main-content-line__flex {
        flex-direction: column;
    }

    .main-content-line__logo-wrapper {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .main-content-line__text {
        text-align: center;
        font-size: 18px;
    }

    .products-list-item {
        width: 50%;
    }

    .footer-contacts {
        display: none;
    }

    .footer__logo {
        margin-bottom: 0;
    }

    .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .questions-form {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .main-content-about-shop {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .main-content-address-contacts__address::after {
        content: none;
    }

    .products-list-item__line {
        display: none;
    }

    .products-list-item__button_is-invisible,
    .products-list-item__sizes_is-invisible {
        opacity: 1;
    }

    .products-list-item__sizes {
        flex-wrap: wrap;
    }

    .products-list-item__button {
        margin-top: 0;
    }

    .button__product-list {
        width: 100%;
        padding: 10px 5px;
    }

    .header-address {
        display: none;
    }

    .header-call__phone-number {
        display: none;
    }

    .header-contacts__schedule {
        display: none;
    }
}