p {
  margin-top: 0;
  margin-bottom: 0;
}

b, strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.font-proxima-nova-bold {
  font-family: "Proxima Nova Rg", sans-serif;
  font-weight: 700;
}

.main-banner {
  position: relative;
  background: url("../img/newbalances/main-banner.png") no-repeat;
  background-size: cover;
  height: 480px;
  width: 100%;
}

.main-banner-flex {
  display: flex;
}

.main-banner__left-side {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.main-banner__title {
  padding-top: 90px;
  max-width: 515px;
  margin-bottom: 45px;
  flex-shrink: 0;
}

.main-banner__text-middle {
  text-align: center;
  max-width: 310px;
  margin-left: 40px;
}

.icon-newbalance {
  background: url("../img/newbalances/icon-sneaker.png") no-repeat;
  background-size: 92px 42px;
  width: 92px;
  height: 42px;
  display: block;
  margin: 0 auto;
}

.main-banner__exclamation {
  position: relative;
  max-width: 400px;
  margin-left: 300px;
  border: 1px solid #c2a062;
  padding-left: 80px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  z-index: 20;
}

.main-banner__exclamation::after {
  position: absolute;
  content: '';
  top: -50%;
  left: 10%;
  transform: translate(-10%, 50%);
  background: url("../img/newbalances/exclamation.png") no-repeat;
  background-size: 10px 37px;
  width: 10px;
  height: 37px;
}

.main-banner__right-side {
  position: relative;
  display: flex;
  margin-left: -230px;
  flex-grow: 1;
  flex-shrink: 0;
}

.main-banner__sneaker {
  margin-top: 90px;
  z-index: 10;
}

.main-banner__discount {
  background: url("../img/newbalances/discount-bg.png") no-repeat;
  width: 704px;
  height: 480px;
  margin-left: -280px;
}

.main-banner__discount-value,
.main-banner__discount-percent {
  color: #ffffff;
  font-family: "Proxima Nova ExCn Rg", sans-serif;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
}

.main-banner__discount-value {
  font-size: 180px;
}

.main-banner__discount-percent {
  font-size: 66px;
  margin-top: 20px;
  margin-left: 10px;
}

.main-banner-discount-text-wrapper {
  margin-top: 210px;
  margin-left: 170px;
}

.main-banner-discount-flex {
  margin-top: 100px;
  margin-left: 200px;
  display: flex;
  align-items: flex-start;
}

.main-banner-subdiscount-text {
  margin-left: 130px;
}

.main-banner-only-for {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 20px;
  width: 380px;
}

.button {
  display: inline-flex;
  font-family: "Open Sans";
  font-size: 16px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 15px 50px;
  font-weight: bold;
}

.button:hover {
  text-decoration: none;
  color: #ffffff;
  box-shadow: inset 0 0 100px rgba(0,0,0, 0.3);
}

.button_brown {
  background-color: #c2a062;
  color: #ffffff;
}

.triggers {
  background-color: #e7e8ea;
  padding: 20px;
}

.triggers-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  margin-left: -20px;
}

.trigger-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  padding-bottom: 20px;
  padding-left: 20px;
}

.trigger-item__icon {
  margin-right: 20px;
  flex-shrink: 0;
}

.icon-trigger-official-distributor,
.icon-trigger-guarantee,
.icon-trigger-7-pairs,
.icon-trigger-delivery {
  width: 71px;
  height: 64px;
  background-size: 71px 64px;
  display: block;
  background-repeat: no-repeat;
}

.icon-trigger-official-distributor {
  background-image: url("../img/newbalances/trigger-official-distributor.png");
}

.icon-trigger-guarantee {
  background-image: url("../img/newbalances/trigger-guarantee.png");
}

.icon-trigger-7-pairs {
  background-image: url("../img/newbalances/trigger-7-pairs.png");
}

.icon-trigger-delivery {
  background-image: url("../img/newbalances/trigger-delivery.png");
}

.trigger-item__text {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

.main-content {
  padding-top: 50px;
}

.main-content__flex {
  display: flex;
  flex-direction: column;
}

.main-filter {
  display: flex;
  flex-direction: column;
  border: 1px solid #d6d6d6;
  border-bottom: none;
  width: 245px;
  flex-shrink: 0;
}

.main-filter:last-child {
  border-bottom: 1px solid #d6d6d6;
}

.main-filter__section {
  padding: 25px 23px;
}

.main-filter__items {
  display: flex;
}

.main-filter__items_is-column {
  flex-direction: column;
}

.main-filter__items_is-wrap {
  flex-wrap: wrap;
}

.main-filter-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000000;
}

.main-filter-text__title {
  font-weight: bold;
  margin-bottom: 20px;
}

.main-filter-text__link {
  text-decoration: none;
  color: #000000;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.main-filter-text__link:hover{
  color: #e21836;
}

.main-filter-text__link_is-active {
  position: relative;
  color: #e21836;
  padding-left: 40px;
  margin-left: -15px;
  font-weight: bold;
}

.main-filter-text__link_is-active::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: url("../img/newbalances/filter-link-is-active.png") no-repeat;
  width: 36px;
  height: 7px;
  background-size: 36px 7px;
}

.main-filter-text__link:last-child {
  margin-bottom: 0;
}

.main-filter__item-name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-right: 5px;
  line-height: 1;
}

.main-filter__item-count {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 1;
}

.main-filter-colors {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -7px;
  margin-left: -7px;
}

.main-filter-colors__wrapper {
  position: relative;
  padding-bottom: 7px;
  padding-left: 7px;
  flex-shrink: 0;
  width: 37px;
  display: block;
}

.main-filter-colors__color {
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  transition: all 0.3s ease;
}

.main-filter-colors__color:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-color: transparent;
}

.main-filter-sizes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
  margin-left: -5px;
}

.main-filter-sizes__wrapper {
  padding-bottom: 5px;
  padding-left: 5px;
  width: 67px;
}

.main-filter-sizes__size {
  width: 62px;
  height: 34px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  transition: all 0.3s ease;
  text-decoration: none;
}

.main-filter-sizes__size:hover,
.main-filter-sizes__size_is-active{
  color: #ffffff;
  background-color: #e21836;
}